.Word {
  letter-spacing: 1px;
}

.Type {
  font-style: italic;
  font-size: 16px;
}

.Definition {
  font-size: 16px;
}

.WordCard-Back {
  background: #CFD8DC;
  position: relative;
}

.WordCard-Back--Red {
  color: #FFF;
  background: #D32F2F;
  border-color: #B71C1C !important;
}

.WordCard-Back--Blue {
  color: #FFF;
  background: #388E3C;
  border-color: #1B5E20 !important;
}

.WordCard-Back--Green {
  color: #FFF;
  background: #1976D2;
  border-color: #0D47A1 !important;
}

.WordCard-Buttons {
  position: absolute;
  top: 4px;
  right: 4px;
}

.WordCard-ControlButton {
  cursor: pointer;
  background: transparent;
  padding: 0;
  border: none;
  outline: none;
}

.WordCard-RemoveButton {
  color: #D50000;
  margin: 0;
  font-size: 32px;
}
