.QuizBox {
  border: 1px solid #ccc;
  max-width: 480px;
  margin: 24px auto;
  padding: 10px;
  border-radius: 4px;
}

.QuizBox--correct {
  background-color: #00E676;
  border: 2px solid #00C853;
}

.QuizBox--incorrect {
  background-color: #EF9A9A;
  border: 2px solid #E57373;
}

.QuizBox--correct .QuizBox-Answer {
  border-color: #00C853;
}

.QuizBox--incorrect .QuizBox-Answer {
  border-color: #E57373;
}

.QuizBox-Answer {
  font-size: 16px;
  border: none;
  border-bottom: 1px solid;
  padding: 4px;
  text-align: center;
  border-radius: 0;
}

.QuizBox-Form {
  display: flex;
  flex-direction: column;
}

.QuizBox-Submit {
  appearance: none;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  background: #388E3C;
  color: #FFF;
  text-align: center;
  border-radius: 18px;
  text-transform: uppercase;
  margin: 12px auto;
}

.QuizBox-Next {
  font-size: 16px;
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  background: #0091EA;
  color: #FFF;
  text-align: center;
  border-radius: 18px;
  text-transform: uppercase;
  margin: 12px auto;
}

.QuizBox-Reveal{
  font-size: 16px;
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  background: #EF6C00;
  color: #FFF;
  text-align: center;
  border-radius: 18px;
  text-transform: uppercase;
  margin: 12px auto;
}

@media screen and (max-width: 520px) {
  .QuizBox {
    margin: 10px;
  }
}
