.QuizBox {
  border: 1px solid #ccc;
  max-width: 480px;
  margin: 24px auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 4px;
}

.QuizBox--correct {
  background-color: #00E676;
  border: 2px solid #00C853;
}

.QuizBox--incorrect {
  background-color: #EF9A9A;
  border: 2px solid #E57373;
}

@media screen and (max-width: 520px) {
  .QuizBox {
    margin: 10px;
  }
}
