.Word {
  letter-spacing: 1px;
}

.Type {
  font-style: italic;
  font-size: 16px;
}

.Definition {
  font-size: 16px;
}

.AddWordForm {
  display: flex;
  flex-direction: column;
}

.AddWordForm > * {
  margin: 8px 10%;
  display: flex;
  flex-direction: column;
}

.AddWordForm-Input {
  font-size: 16px;
  padding: 4px;
  text-align: center;
  border: none;
  border-bottom: 2px solid #455A64;
  border-radius: 0;
  outline: none;
}

.AddWordForm-Input--WithError {
  border-color: #E57373;
}

.AddWordForm-Submit {
  cursor: pointer;
  appearance: none;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  background: #388E3C;
  color: #FFF;
  text-align: center;
  border-radius: 18px;
  text-transform: uppercase;
  margin: 12px auto;
}

.AddWordForm-Select {
  border: none;
  padding: 4px;
  font-size: 16px;
  background: #FFF;
  border: 1px solid #455A64;
}

.AddWordForm-ColorPicker {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: center;
}

.AddWordForm-ColorPickerOption {
  border: 2px solid #FFF;
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.AddWordForm-ColorPickerOption--None {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAI0lEQVQYV2O0sLD4zwAFJ06cYISxGUmXgGkF0ci64WYSLQEAGPMQ/LG7mdcAAAAASUVORK5CYII=) repeat;
}

.AddWordForm-ColorPickerOption--Red {
  background: #D32F2F;
}

.AddWordForm-ColorPickerOption--Blue {
  background: #388E3C;
}

.AddWordForm-ColorPickerOption--Green {
  background: #1976D2;
}

.AddWordForm-ColorPickerOption--Active {
  border: 2px solid #448AFF;
}

.AddWordForm-ColorPickerOption input {
  display: none;
}
