.Word {
  letter-spacing: 1px;
}

.Type {
  font-style: italic;
  font-size: 16px;
}

.Definition {
  font-size: 16px;
}

.AddWordForm {
  display: flex;
  flex-direction: column;
}

.AddWordForm > * {
  margin: 12px;
  display: flex;
  flex-direction: column;
}

.AddWordForm-Input {
  font-size: 16px;
  padding: 4px;
  text-align: center;
  border: none;
  border-bottom: 1px solid;
}

.AddWordForm-Submit {
  font-size: 16px;
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  background: #388E3C;
  color: #FFF;
  text-align: center;
  border-radius: 18px;
  text-transform: uppercase;
  margin: 12px auto;
}

.AddWordForm-Select {
  border: none;
  padding: 4px;
  font-size: 16px;
}
